{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Инструкции
{% endblock %}

{% block content %}

    <p>
        Добро пожаловать в эксперимент по продаже путевок в заповедник.
    </p>
    <p>
        В этом раунде вы и еще {{ C.PLAYERS_PER_GROUP|add:-1 }} участника боретесь за {{ C.ITEMS_TO_SELL }} одинаковые путевки.
    </p>
    <p>
        Аукцион проходит по правилам **закрытого аукциона с единой ценой**. Это значит:
        <ul>
            <li>Вы делаете ставку, не зная ставки других участников.</li>
            <li>{{ C.ITEMS_TO_SELL }} участника, предложившие самые высокие ставки, выигрывают.</li>
            <li>Все победители платят <b>одинаковую цену</b>, которая равна самой высокой из <b>проигравших</b> ставок.</li>
        </ul>
    </p>
    <p>
        Для вас лично "истинная ценность" путевки в этом раунде составляет <b>{{ player.true_value }}</b>.
        Это значит, что если вы выиграете и заплатите цену `P`, ваш выигрыш составит `{{ player.true_value }} - P`.
        Если вы не выиграете, ваш выигрыш будет равен 0.
    </p>
    <p>
        Постарайтесь максимизировать ваш выигрыш.
    </p>

    <button class="otree-btn-next btn btn-primary">Далее</button>

{% endblock %}
